* {
  padding: 0;
  margin: 0;
  font-family: cursive;

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(44, 43, 43);
}
.container {
  height: 65vh;
  width: 48vh;
  padding: 2rem;
  background-color: rgb(81, 80, 80);
  border-radius: 1.45rem;
  box-shadow: 5px 5px 10px rgba(81, 80, 80, 0.5); /* horizontal, vertical, blur, color with opacity */
}

.header input {
  width: 80%;
  height: 2rem;
  outline: none;
  border: none;
}
.search-box input {
  font-size: 1.3rem;
  text-align: center;
  background-color: rgb(150, 152, 152);
  text-transform: capitalize;
  color:  rgb(40, 40, 40);
  font-family: cursive;
 
}
.search-box i {
  font-size: 1.2rem;
  min-width: 2rem;
  margin-left: 1.4rem;
  color:  rgb(72, 71, 71);
}
.search-box {
  width: auto;
  border: 2px solid rgb(156, 155, 155);
  border-radius: 10px;
  text-align: center;
  background-color:  rgb(150, 152, 152);
  box-shadow: 5px 5px 10px rgba(81, 80, 80, 0.5); /* horizontal, vertical, blur, color with opacity */

}
.location-not-found {
  margin-top: 0.6rem;
  font-size: 1.2rem;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container img {
  height: 10rem;
}
.weather-body {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.weather-box {
  text-align: center;
  margin-top: 0.5rem;
}
.temp {
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.description {
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.weather-additonal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  font-size: 1.15rem;
}
.weather-additonal i {
  margin-left: 3.6rem;
  font-size: 1.7rem;
}
.hum-data {
  font-size: 1.5rem;
}
.speed-data {
  font-size: 1.5rem;
}
.humidity-icon i {
  margin-left: 0px;
}
footer {
  margin-top: 3rem;
  text-align: center;
  font-size: 1rem;
}
