* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(44, 43, 43);
}
.container {
  height: 60vh;
  width: 48vh;
  padding: 2rem;
  background-color: rgb(81, 80, 80);
  border-radius: 1.45rem;
}

.header input {
  width: 80%;
  height: 2rem;
  outline: none;
  border: none;
}
.search-box input {
  font-size: 1.3rem;
  text-align: center;
  background-color: rgb(212, 234, 249);
  text-transform: capitalize;
}
.search-box i {
  font-size: 1.2rem;
  min-width: 2rem;
  margin-left: 1.4rem;
}
.search-box {
  width: auto;
  border: 2px solid lightgray;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(212, 234, 249);
}
.location-not-found {
  margin-top: 0.6rem;
  font-size: 1.2rem;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container img {
  height: 10rem;
}
.weather-body {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.weather-box {
  text-align: center;
  margin-top: 0.5rem;
}
.temp {
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.description {
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.weather-additonal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  font-size: 1.15rem;
}
.weather-additonal i {
  margin-left: 3.6rem;
  font-size: 1.7rem;
}
.hum-data {
  font-size: 1.5rem;
}
.speed-data {
  font-size: 1.5rem;
}
.humidity-icon i {
  margin-left: 0px;
}
footer {
  margin-top: 3rem;
  text-align: center;
  font-size: 1rem;
}
